<!DOCTYPE HTML>
<html>
  <head>
    <title>顺速驾校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/comman.css" />
  </head>
  <body style="padding: 20px">
    <header class="header" >
        <h1>顺速驾校简介</h1>
        <hr />
        <div class="info"><%= info %></div>
    </header>
    <section>
        <div class="pictures">
            <% for(var i=0; i<pictures.length; i++) {%>
                <img src="<%= pictures[i] %>" />
            <% } %>
        <div/>
    </section>
  </body>
</html>
