<!DOCTYPE HTML>
<html>
  <head>
    <title>顺速驾校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/comman.css"
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <header >
        <img src="<%= topPic %>" />
    </header>
    <section>
    </section>
    <footer>

    </footer>
  </body>
</html>
