body {
  padding: 20px;
}

h1 {
  font-size: 16px;
}
.info {
  color: #9e9e9e;
}

.pictures {
  margin-top: 10px;
}
.pictures img {
  border: 1px solid #fafafa;
  width: 100%;
  margin-bottom: 10px;
}